.side-bar{
    position:fixed;
    left: 0px;
    bottom: 0px;
    top:60px;
    width:70px;
    background-color: white;
    z-index: 200;
}

.side-bar .links{
    height:76px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left:2px;
}

.links div{
    margin-top: 5px;
}
.links:hover , .side-links:hover {
    background-color: rgb(232, 229, 229);
    cursor: pointer;
}

.side-bar img{
    width: 30px;
}

#ext-side-bar{
    position: fixed;
    top: 60px;
    width: 235px;
    z-index: 201;
    height: 100vh;
    background-color: white;
    display:none;
}

.side-links{
    display: flex;
    align-items: center;
    column-gap: 10px;
    height:45px;
    padding-left: 25px;
}

.show-more{
    display: none;
}
.collapse{
    display: block;
}

#collapse1{
    display: flex;
}